.card-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  border-radius: 5px;
}

p.mission-label {
  color: blue;
}

.mission-label {
  font-weight: bold;
}

.launch-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-image {
  text-align: center;
  background-color: #eee;
}

.card-image img {
  max-width: 100%;
}

.card-details div {
    margin-bottom: 1rem;
}
