.filters-container {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
}

.filters-heading {
  flex: 1 0 100%;
  margin: 0 12px;
}

.filter-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 100%;
  margin-bottom: 1rem;
}

.filter-btn-container {
  flex: 0 0 50%;
  text-align: center;
}

.filter-label {
  text-align: center;
  font-size: 1rem;
  color: #3c3c3c;
  margin: 5px 10px;
  border-bottom: 1px solid #3c3c3c;
  font-size: 0.875rem;
}

@media screen and (min-width: 701px) and (max-width: 1024px) {
  .spacex-btn-container {
    flex: 0 0 100%;
  }
}