<nav class="f-container bg-white filters-container p-025">
  <div class="f-item-g-width-100">
    <h3>Filters</h3>
  </div>

  <div class="f-item-g-width-100 f-container m-b-1">
    <div class="f-item-g-width-100">
      <p class="filter-label">Launch Year</p>
    </div>
    <div class="spacex-btn-container m-t-b-03"  *ngFor="let launchYear of launchYears" >
      <app-spacex-button [content]="launchYear" (actionTriggered)="onLaunchYearActionTriggered($event)">
      </app-spacex-button>
    </div>
  </div>

  <div class="f-item-g-width-100 f-container m-b-1">
    <div class="f-item-g-width-100">
      <p class="filter-label">Successful Launch</p>
    </div>
    <div class="spacex-btn-container m-t-b-03">
      <app-spacex-button content="true" (actionTriggered)="onLaunchSuccessActionTriggered($event)"></app-spacex-button>
    </div>
    <div class="spacex-btn-container m-t-b-03">
      <app-spacex-button content="false" (actionTriggered)="onLaunchSuccessActionTriggered($event)"></app-spacex-button>
    </div>
  </div>

  <div class="f-item-g-width-100 f-container m-b-1">
    <div class="f-item-g-width-100">
      <p class="filter-label">Successful Landing</p>
    </div>
    <div class="spacex-btn-container m-t-b-03">
      <app-spacex-button content="true" (actionTriggered)="onLandSuccessActionTriggered($event)"></app-spacex-button>
    </div>
    <div class="spacex-btn-container m-t-b-03">
      <app-spacex-button content="false" (actionTriggered)="onLandSuccessActionTriggered($event)"></app-spacex-button>
    </div>
  </div>
</nav>